{% extends "base.html" %} {% block content %}
<div class="card">
  <div class="card-header bg-primary text-white">
    <h3>Edit Post</h3>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'post-edit' post.id %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_title" class="form-label">Post Title</label>
        <input
          type="text"
          name="title"
          value="{{ post.title }}"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="id_content" class="form-label">Content</label>
        <input
          type="text"
          name="content"
          value="{{ post.content }}"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
  </div>
</div>
{% endblock %}
